In [1]:
print("Hello World")

Hello World

# Python Progamming

Why We learn Program?

1)To command the computer to perform certain actions beacuse computer doesnot do actions on its own

In [3]:
# Hello World program is the first program in programming

In [4]:
print("Hello world")

Hello world

# Variables

1) Variaables are containers to hold the data by most of peoples
But Many same say it is like a label to  values
2) Data Type is implicitly called at run time in python
3) need not declared before its use
4) only we need to intialise
5) Variables are stored in stack like structure and values are stored in heap like structure

In [7]:
a = 10
b = True
c = False
d = 20.0
e = 10+4j
f = [1,2,3,4]
g = "Hello"
h = (1,2,3)
i = { "name":"Thiru","age":21}

In [8]:
j = set() # set() to declare variable as set

# Id Function,type() function and Print Function

1) References make them together in values
2) id function will tells about pointing

In [9]:
x = 20
y = 20
print(id(x))
print(id(y))

140704369497480
140704369497480

In [10]:
y = 30
print(id(y))

140704369497800

print function is important learn about it has sep,end paramerters sep parameter will help which parameter helps to seperate the variables in single line while end to seperate for two print statements

In [11]:
print(12,13,sep="?")

12?13

In [12]:
print(13,end="*")
print(14)

13*14

Normally end is /n sep is " "

type() function to determine the type of data type

In [19]:
print(type(a)) # integer

<class 'int'>

In [20]:
print(type(b),type(c)) # bool

<class 'bool'> <class 'bool'>

In [21]:
print(type(d)) # float

<class 'float'>

In [22]:
print(type(e)) # complex

<class 'complex'>

In [23]:
print(type(f)) # list

<class 'list'>

In [24]:
print(type(g)) # string

<class 'str'>

In [28]:
print(type(h)) # tupule

<class 'tuple'>

In [29]:
print(type(i)) # dict

<class 'dict'>

In [30]:
print(type(j)) # set

<class 'set'>

We will study them in detail last

# Comments

Comments are used to describe the program it is denoted by #

In [31]:
# this is comment

# Multiline Strings and Single Line Strings

1) single or double quotation marks used for single line strings
2) While three single or double quotations used for multine strings

In [4]:
name = "ThiruMurugan"

In [32]:
# Multiline Strings
str = """ This is Mutliline sTring 
after all yu is poking k
wdjnj """

In [33]:
print(str)

 This is Mutliline sTring
after all yu is poking k
wdjnj

# Keywords
Keywords are unique words used in programming to write the program they have predefined functions

In [41]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# Operators

Operators are used to peform operations

1) Arithemetic Operators
2) Logical operators
3) Relational operators
4) MemberShip Operators
5) Identiy operators

# Arithemetic Operators

In [43]:
print(1+2) # add
print(8-3)#subract
print(8*7) #multiply
print(8/7) # divide
print(8//7) # floor division
print(8%7) # remainder
print(2**3)#pow function

3
5
56
1.1428571428571428
1
1
8

# Comparisonal Operators

In [44]:
12 >= 13 # greater than or equal to

False

In [45]:
12 <= 13 # lesser than or equal to

True

In [46]:
12 > 13 # greater than

False

In [47]:
12 > 13 # lesser than

False

In [48]:
13 == 13  # equal to

True

In [49]:
13 != 12 # not equal to

True

# MemberShip Operators

In [51]:
# bith strings list in operator is used to check if presernt return true else false
"Hello" in ["Pokemon","Hello"]

True

In [52]:
"Hello" in "Hello World"

True

In [53]:
# bith strings list not in operator is used to check if presernt return false else true
"Hello" not in ["Pokemon","Hello"]

False

In [54]:
"Hello" not in " World"

True

# Writting Case of Programming Languages and Rules of identifiers

1) Naming Convention is truely used in prgramming languages
2) Camel case - letters like every word except first word starts with upper case
3) Pascal Case -letters every word starts with uppercase
4) snake Case - every words are connected by underscores

In [55]:
name_of_student = "Sylu" # snake
NameOfStudent = "malu" # pascal
nameOfStudent = "mallu" # camel

1) Rules Of identifiers it should not be keywords

identifiers must not start with digits , it can only starts with letter or underscores

it can contain digits,letters,underscores

# MemberShip Operators

In [2]:
# is operator  for id(a) == id(b) if they are in same memory location or not
x1 = 12
x2 = 12
x1 is x2

True

In [3]:
x1  is not x2

False

 not is operator is used to determin whether two variabled are not in same memory locations return true else false

# Logical Operators

In [5]:
# and operator

And Operator is used when all conditions are true it returns true else false

In [6]:
number = 20
number % 2 == 0 and number % 4 == 0

True

In [8]:
number % 3 == 0 and number % 2 == 0

False

Or operator is used when any one of the  condition is true it returns true else false

In [9]:
number % 2 == 0 or number % 5 ==0

True

In [12]:
number % 3 == 0 or number % 13 == 0

False

not operator is used to tell if condition is true it returns false else return true

In [13]:
not number % 5 == 0

False

In [14]:
not number % 6 == 0

True

# Assignmnet Operator =

In [15]:
a = 2
a+=2
print(a) # a+=i is same as a = a + i

4

In [16]:
a*=2
print(a) # a*=i is same as a= a*i

8

In [17]:
a%=2
print(a) # a%=2 is same as a = a% 2

0

# input function and Type Casting

to take input and result always string so type casting is used

In [20]:
number = input("Enter a variable")
print(type(number))

Enter a variable 1

<class 'str'>

In [22]:
d = "1233"
e = int(d)
print(type(d),type(e))

<class 'str'> <class 'int'>

In [23]:
f = float(d)
print(type(f))

<class 'float'>

In [24]:
g = str(e)
print(g,type(g))

1233 <class 'str'>

# Conditional Statements

conditional statements are used to check conditions in programming languages
1) if
2) if else
3) if elif els
4) Nested is

In [32]:
num = int(input("Enter a number "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number  123

Odd

In [33]:
if num == 0:
    print("Neutral")
elif num < 0:
    print("Negaitve")
else:
    print("Positive")

Positive

In [34]:
year = int(input("Enter a Year"))
if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
    print("Leap Year")
else:
    print("Non-Leap")

Enter a Year 2024

Leap Year

In [35]:
if num % 2 == 0:
    if num % 3 == 0:
        print("Divisble by 6 ")
    else :
        print("Indivisble by 6 ")
else:
    print("Give Even Number")

Give Even Number

# Looping Statements
1) range() function
2) for loop
3) nested for loop
4) while loop
5) while loop with else
6) for loop with else

In [37]:
# range() function
range(5) # range from o to n-1 when range(n)

range(0, 5)

In [38]:
range(1,5) # range from 1 to n-1 when when range(a,b)

range(1, 5)

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for i in range(2,5):
    print(i)

2
3
4

In [48]:
# we are going to determine the prime or not
number = int(input("Enter a Number"))
if number == 2 :
    print("It is prime")
elif number <= 0:
    print("Enter a valid input")
else :
    isprime = True
    for i in range(2,number):
        if number % i == 0:
            isprime = False
            break;
    if isprime:
        print("It is prime")
    else:
        print("Non-prime")

Enter a Number 13

It is prime

In [54]:
num = int(input("Enter a Number"))
rev = 0
while num > 0:
    rev = (rev * 10) + (num % 10)
    num//=10
print(rev)

Enter a Number 50

5

In [61]:
num = int(input("Enter a number :"))
for i in range(2,num+1):
    isPrime = True
    for j in range(2,i):
        if i % j == 0:
            isPrime = False
            break
    if isPrime:
        print(i,end=", ")

Enter a number : 100

2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,

In [64]:
num = int(input("Enter a number:"))
while num >= 0:
    print(num)
    num-=1
else:
    print("Now it is negative")

Enter a number: 12

12
11
10
9
8
7
6
5
4
3
2
1
0
Now it is negative

In [65]:
for i in range(10):
    print(i)
else:
    print("loop ends")

0
1
2
3
4
5
6
7
8
9
loop ends

In [70]:
# Armstrong number
num = int(input("Enter a number"))
n = str(num)
length = len(n)
rev = 0
while num > 0:
    rev =  rev + ((num%10)**length)
    num//=10
if rev == num:
    print("Armstrong number")
else:
    print("Not Armstrong number")

Enter a number 153

Not Armstrong number

# Break and Continue ,Pass Statement

break statement is used to break the loops

continue statement is used to skip the iteration

pass statements is used to pass the statements for syntax

In [71]:
def func(a):
    pass

In [72]:
class Student:
    pass

# Functions

functions are block of reuasable codes

1) default arguments -are passed arguments no worth fo arguments when calling function

In [73]:
def add(a=10,b=20):
    print(a+b)
add()

30

In [76]:
def add(a,b):
    print(a+b)
add(1,20)

21

In [80]:
def sub(a,b=100):
    print(b-a)
sub(12)

88

1) once defined functions can be called at multiple times
2) return values one or moe
3) program can be broken down to numerous functions for better understand

1) keyword def is used as catchphrase
2) function name - name of function
3) arguments - to pass values
4) () function header's end

keyword arguments - client must tell what argument by using keyword

In [7]:
def printNumber(n1,n2):
    print(n1,n2);
printNumber(23,34)
printNumber(n2=34,n1=23)

23 34
23 34

varible length arguments - varys with length of arguments
1)  tells about list (*)
2)  tells about dict (**)

In [8]:
def printList(*list):
    print(list)
printList(0,9,87)

(0, 9, 87)

In [19]:
def printDict(**f):
    for key,value in f.items():
        print(key,"=",value)

In [20]:
printDict(name="ThiruMurugan", age=18, gender="Male")

name = ThiruMurugan
age = 18
gender = Male

In [35]:
# return statement
list = [1,2,3,4,5]
def BinarySearchAlgorithm(l,data):
    left = 0
    right = len(l)-1
    while left <= right:
        mid = left + (right-left)//2
        if l[mid] == data:
            return mid
        elif l[mid] > data:
            right = mid -1
        else:
            left = mid +1
    return -1
ans =BinarySearchAlgorithm(list,data = 5)
if ans == -1:
    print("Not Found")
else:
    print("Found at ",ans)

Found at  4

In [36]:
# Tommorrow Scope and Life time of variables functions recap ,list,string

# Strings

Strings are sequence of characters which are enclosed by double quotes or single auotes

Multiline strings are enclosed with triple qoutes while single line strings enclosed with single or double auotes

In [1]:
name = "Thiru"
street = 'street'
desc = """ Hello
Here this is sample description"""
f =  '''pokemon
is his favorite '''

In [4]:
print(name,street,desc,f,sep="\n")

Thiru
street
 Hello
Here this is sample description
pokemon
is his favorite

# String slicing
string slcing is used to make substrings

In [7]:
print(name[2:]) # starts from a to len(str)-1 when str[a:]

iru

In [9]:
print(name[:3]) # starts from 0 to b-1 when str[:b]

Thi

In [10]:
print(name[:])# starts from 0 to len(str)-1

Thiru

In [11]:
print(name[2:4]) # starts from a to b-1 when a to b-1

ir

# Negaitve indexing of Strings

In [12]:
example = "Pokemon"
print(example[0])
print(example[-1])

P
n

In [15]:
print(example[len(example)-1])

n

In [16]:
print(example[-len(example)])

P

In [17]:
# positive index from 0 to len(str)-1
# negative index from -1 to - len(str)

In [18]:
print(name[-1:])

u

In [21]:
print(name[-3:-1])

ir

In [22]:
# Jump is postive when traversal of string from left to right

In [28]:
print(example[-1:-6:-2])

nmk

# printing reverse of string
print(name[len(example)::-1])

In [42]:
print(name[-len(example)::1])

Thiru

# String methods

In [1]:
str = "ThiruMurugan"

printing upper ,lower,swap case

In [2]:
print(str.upper()) # upper case
print(str.lower()) # lower case
print(str.swapcase()) # swwap case

THIRUMURUGAN
thirumurugan
tHIRUmURUGAN

In [3]:
str = "she is good girl"

captialize and title

In [5]:
print(str.capitalize()) # captialize
print(str.title()) # captialize every first word

She is good girl
She Is Good Girl

In [6]:
print(str.isupper())
print(str.islower())
print(str.istitle())

False
True
False

In [7]:
print(str.split()) # split

['she', 'is', 'good', 'girl']

In [9]:
print(str.replace(" ","?")) # replace

she?is?good?girl

In [10]:
print(str.isalpha())

False

In [11]:
print(str.isdigit()) # digit or not

False

In [12]:
print("123".isdigit())

True

In [13]:
print("qwerty".isalpha())

True

In [14]:
print(" ".isspace()) # space

True

startswith,endswith

In [15]:
print(str.startswith("s"))

True

In [16]:
print(str.endswith("l"))

True

In [17]:
print(str.count("hello"))

0

In [22]:
print(str.index("sdf"))

ValueError: substring not found

In [23]:
print(str.index("s"))

0

In [24]:
print(str.find("sdf"))

-1

In [25]:
print(str.find("s"))

0

In [27]:
list = ["Hello","World"]
s = " ".join(list)
print(s)

Hello World

In [28]:
print(str.strip("!")) # strip

she is good girl

In [4]:
str="123al"
print(str.isalnum())

True

In [6]:
print(str.startswith("2",1))

True

In [11]:
print(str.endswith("l",2,3))

False

In [9]:
str.replace??

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

In [14]:
str.upper??

Signature: str.upper()
Docstring: Return a copy of the string converted to uppercase.
Type:      builtin_function_or_method

In [15]:
str.lower??

Signature: str.lower()
Docstring: Return a copy of the string converted to lowercase.
Type:      builtin_function_or_method

In [16]:
str.strip??

Signature: str.strip(chars=None, /)
Docstring:
Return a copy of the string with leading and trailing whitespace removed.

If chars is given and not None, remove characters in chars instead.
Type:      builtin_function_or_method

In [17]:
str.rstrip??

Signature: str.rstrip(chars=None, /)
Docstring:
Return a copy of the string with trailing whitespace removed.

If chars is given and not None, remove characters in chars instead.
Type:      builtin_function_or_method

In [18]:
str.index??

Docstring:
S.index(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Raises ValueError when the substring is not found.
Type:      builtin_function_or_method

In [19]:
str.find??

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [20]:
str.count??

Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      builtin_function_or_method

# String problems

In [2]:
str = "abababa"
match = "abab"
count = 0
for i in range(len(str)):
    if str[i:i+len(match)] == match:
        count+=1
print(count)

2

# Lists

List is datastructure in python it is just ordered collection of data

In [3]:
list = [1,True,"str",12.00]

In [4]:
for i in list:
    print(i)

1
True
str
12.0

In [9]:
for i in range(len(list)):
    print(list[i])

1
True
str
12.0

# Slicing of List

In [10]:
list[0:] # start to le(list)-1

[1, True, 'str', 12.0]

In [11]:
list[:] # print everything from 0 to len(list)-1

[1, True, 'str', 12.0]

In [12]:
list[:3] # from  0 to end -1

[1, True, 'str']

In [13]:
list[2:4] # from start to end -1

['str', 12.0]

In [14]:
list[1:2:2] # jump +ve left to right

[True]

In [16]:
list??

Type:        list
String form: [1, True, 'str', 12.0]
Length:      4
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [17]:
list[-1] # negative index

12.0

In [21]:
list[-1:-5:-1] # jump negative from right to left

[12.0, 'str', True, 1]

# characteristics of list

1) List is mutable
2) List contain any data type
3) accessible via index
4) orderly collection

In [22]:
list[-1]="Horse"
print(list)

[1, True, 'str', 'Horse']

In [32]:
# concatentation operator + 
list1 = [1,2,3]
list2 = [4,5,6]
list1 = list1+list2
print(list1)

[1, 2, 3, 4, 5, 6]

In [33]:
# repetiton *
list=[1,2,3]
list = list * 2
print(list)

[1, 2, 3, 1, 2, 3]

In [34]:
# membership in , not in
"Horse" in list

False

In [35]:
"Horse" not in list

True

In [36]:
# length
print(len(list))

6

# List Methods

In [46]:
# append  will add at the end of list
list = [1,2]
print(list)
list.append(3)

[1, 2]

In [47]:
print(list)

[1, 2, 3]

In [48]:
# insert (index,object) ->it adds the object before index
list.insert??

Signature: list.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [51]:
list.insert(0,12)

In [52]:
print(list)

[12, '', 1, 2, 3]

In [54]:
list.index??

Signature: list.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

index(value,start,end) in index method if element exists within range start to end -1 it returns the index of first occurence else raise value error

In [60]:
list.index(1,2,5)

2

by default it is range zero and stop is 922...

In [64]:
list = [4,1,0]
list.sort()
print(list)

[0, 1, 4]

In [66]:
list.sort??

Signature: list.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [67]:
list.sort(reverse=True)

In [68]:
print(list)

[4, 1, 0]

In [69]:
list.count??

Signature: list.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [70]:
list.count("P") # count the number of occurences of element in list if no such return 0

0

In [71]:
m = list # m is refernce of list
m[0]=0
print(list)

[0, 1, 0]

In [72]:
print(id(m))

1762838319744

In [73]:
print(id(list))

1762838319744

In [78]:
m = list.copy() # copy method avoids the error
m[0]=9
print(list)
list[0]=19

[0, 1, 0]

In [80]:
list = [1,2,4]
print(list)
list.reverse() # reversing thwe list
print(list)

[1, 2, 4]
[4, 2, 1]

In [81]:
list.extend??

Signature: list.extend(iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      builtin_function_or_method

In [82]:
list.extend(list1)
print(list)

[4, 2, 1, 1, 2, 3, 4, 5, 6]

# Tupules

In [84]:
tup = (1,2,4)
print(type(tup))

<class 'tuple'>

1) Tupules are collection of data enclosed by round brackets seperated by commas
2) unmutable it cannot be changed after it is created

In [86]:
tup[0] # we can access by index

1

In [89]:
tup[0] = 3 # it cannot be changed if we try to change it hrows type error

TypeError: 'tuple' object does not support item assignment

In [88]:
len(tup) # length of tupule

3

In [90]:
tup[len(tup)-1] # postive index from 0 to len(tupule)-1

4

In [91]:
tup[-len(tup)] # negatuive index from -1 to -len(tup) in reverse for negative indexing

1

In [92]:
tup[0:3:2] # it is that slicing

(1, 4)

In [94]:
tup[:] # 0 to len(tup)-1

(1, 2, 4)

In [95]:
tup[2:] # from start to len(tup)-1

(4,)

In [97]:
tup[:2] # from 0 to end -1

(1, 2)

In [98]:
tup[0::2] # jump positive from left to right

(1, 4)

In [109]:
tup2 =tup[::-1] # negative jump from right to left

In [107]:
# membership operators also works on tupules
1 in tup

True

In [108]:
5 not in tup

True

In [111]:
print(tup2) # new tupule can be created

(4, 2, 1)

# Tupule Methods
tupules cannot be added or removed or updated change to list and do and then change back to tupule

In [13]:
tup = ("India","Bangladesh","Russia","Srilanka","NorthKorea")
print(tup)

('India', 'Bangladesh', 'Russia', 'Srilanka', 'NorthKorea')

In [14]:
li = list(tup)
li.remove("NorthKorea")
li.append("SouthKorea")
li[3]="Australis"

In [15]:
tup = tuple(li)

In [16]:
print(tup)

('India', 'Bangladesh', 'Russia', 'Australis', 'SouthKorea')

In [17]:
tuple.count??

Signature: tuple.count(self, value, /)
Docstring: Return number of occurrences of value.
Type:      method_descriptor

In [18]:
tup.count("Russia") # count the number  occurences

1

In [19]:
tup.index("India")

0

In [20]:
tup.index("f") # value error occurs if there is no such that in tupule

ValueError: tuple.index(x): x not in tuple

In [12]:
tup1 = (1,2,3)
tup2 =(4,5,6)
tup1 = tup1 + tup2
print(tup)

(1, 2, 3, 4, 5, 6)

# Time Module

In [4]:
import time
timestamp = time.strftime("%H:%M:%S") # hours:minutes:seconds %H -hours %M -minutes %S-seconds
print(timestamp)

20:56:31

In [5]:
timestamp2 = time.strftime("%d:%m:%y")# %d - day ,%m -month,%y -year

In [6]:
print(timestamp2)# %m - month

26:06:24

In [7]:
timestamp1 = time.strftime("%d:%m:%Y") # Y - gives full year

In [8]:
print(timestamp1)

26:06:2024

In [22]:
t = time.strftime("%D")

In [23]:
print(t)

05/08/24

In [25]:
# problem
import time
timestamp = time.strftime("%H:%M:%S")
hours = int(time.strftime("%H"))
if hours > 0 and hours <12:
    print("Good Morning")
elif hours >= 12 and hours < 17:
    print("Good Afternoon")
elif hours >= 17 and hours < 19:
    print("Good Evening")
else:
    print("Good Noght")

Good Morning

# String Formatting - f-strings

In [3]:
sentence1 = "Hello I am coming from {} and Surrender all Your {}  ";
sentence2 = "Hello I am coming from {1} and Surrender all Your {0}  ";
state = "Bihar"
things = "Jewellery"
print(sentence1.format(state,things))
print(sentence1.format(things,state))
print(sentence2.format(things,state))

Hello I am coming from Bihar and Surrender all Your Jewellery
Hello I am coming from Jewellery and Surrender all Your Bihar
Hello I am coming from Bihar and Surrender all Your Jewellery

In [4]:
# fstrings
print(f"Hello I am from {state} give all your {things}")

Hello I am from Bihar give all your Jewellery

In [5]:
price = 20.99999
print(f"You go to that the {price:.4f}") # for decimal precision

You go to that the 21.0000

In [6]:
print(f"{2*3}")

6

In [7]:
txt = f"Hello You are from {state} "

In [8]:
print(txt)

Hello You are from Bihar

# docstrings
docstrings are comments that much will not affect output

In [10]:
def add(a,b):
    '''Add two numbers'''
    return a+b
a = int(input())
b = int(input())
add(a,b)
help(add) # to get doc strings

 12
 12

Help on function add in module __main__:

add(a, b)
    Add two numbers

# Recursion
function within function is called recursion

In [11]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
factorial(6)

720

In [2]:
def fib(a,b,n):
    if n == 0:
        return
    print(a,end=" ")
    fib(b,a+b,n-1)
fib(0,1,10)

0 1 1 2 3 5 8 13 21 34

In [5]:
def fibanocci(n):
    if n <= 1:
        return n
    else:
        return fibanocci(n-1) + fibanocci(n-2)

In [6]:
fibanocci(10)

55

In [8]:
def sumOfdigits(n):
    if n == 0:
        return 0
    return n % 10 + sumOfdigits(n//10)
sumOfdigits(123)

6

In [9]:
def Binary(n):
    if n == 0:
        return 0
    else:
        return n % 2 + 10*Binary(n//2)
Binary(21)

10101

# Sets

1) Sets is collection of well defined objects. 
2) it is unordered. it cannot have duplicate and immutable.
3) it cannot have duplicate elements
4) it is enclosed by {}

In [23]:
word = set()

In [24]:
print(type(word))

<class 'set'>

In [25]:
word = {1,2,1}

In [26]:
print(type(word))

<class 'set'>

In [27]:
for i in word:
    print(i)

1
2

In [28]:
print(word)

{1, 2}

In [29]:
countries = {"India","Pakistan","Russia","Horse"} # it will maintain sort order
print(countries)

{'Pakistan', 'Russia', 'Horse', 'India'}

In [32]:
# sets cannot be accessed by index
countries[0]

TypeError: 'set' object is not subscriptable

In [33]:
# using for loop we can access sets
for i in countries:
    print(i)

Pakistan
Russia
Horse
India

In [36]:
# declaring empty sets
harry1 = {}
harry2 = set()

In [37]:
print(harry1,harry2)

{} set()

In [38]:
print(len(countries))

4

# Set Methods

In [1]:
set1 = {1,2,3,4}
set2 = {1,2,4,5}
print(set1.union(set2)) # present in set1,set2 but not both

{1, 2, 3, 4, 5}

In [2]:
print(set1.intersection(set2)) # present both values of set1 and set2

{1, 2, 4}

In [3]:
cities1 = {"Chennai","Bangalore","Hyderabad"}
cities2 = {"Punjab","Lakshadweep","Chennai"}
cities3 = cities1.union(cities2)
cities4 = cities1.intersection(cities2)
print(cities3)
print(cities4)

{'Chennai', 'Lakshadweep', 'Punjab', 'Bangalore', 'Hyderabad'}
{'Chennai'}

In [4]:
cities3.intersection_update??

Docstring: Update a set with the intersection of itself and another.
Type:      builtin_function_or_method

In [5]:
countries1 = {"Pakistan","India","Bangladesh"}
countries2 = {"Dubai","King","India"}
countries1.update(countries2) # tske union of two sets and update to first set 
print(countries1)
countries3 = {"Hello",}

{'Bangladesh', 'Pakistan', 'Dubai', 'India', 'King'}

In [7]:
countries2.intersection_update(countries3) # take intersection and update it to first set

In [8]:
print(countries2)

set()

In [5]:
# symmetric difference -ignoring the elements present on both sets
countries1 = {"India","Pakistan","Brazil"}
countries2={"SouthAfrica","Bangladesh","Nepal","India"}
print(countries1.symmetric_difference(countries2))

{'Nepal', 'Pakistan', 'SouthAfrica', 'Brazil', 'Bangladesh'}

In [6]:
# symmeteric_difference_update -peform symmetric_difference update first set with this set
countries1.symmetric_difference_update(countries2)
print(countries1)

{'Nepal', 'Pakistan', 'SouthAfrica', 'Brazil', 'Bangladesh'}

In [11]:
# difference -> A-B present in A but not in B
team1={"Larva","Caterpillar","Hello",True}
team2 = {"Mapla",False,123,True}
print(team1.difference(team2))
print(team1.isdisjoint(team2))

{'Caterpillar', 'Larva', 'Hello'}
False

In [8]:
# difference_update -> A-B is peformed and stored in set A
team1.difference_update(team2)
print(team1)

{'Caterpillar', 'Larva', 'Hello'}

In [9]:
# Disjoint sets - When There is no common element in the set

set1={"Jack","Jhon","Ravi"}
set2={"Sriram","Murugan","Subash"}
set1.isdisjoint(set2)

True

In [13]:
set1.issuperset(set2)

False

In [15]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,2,3,4,5}
set1.issuperset(set2)

True

In [16]:
set1.issubset(set2)

False

In [19]:
# issubset() - checks whether set1 is subset of set2
# means all elements of set1 is present in set2
set1.issubset(set2)

False

In [17]:
set2.issubset(set1)

True

In [22]:
# add - > add the element
set1.add('23')
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '23'}

In [23]:
set1.add(34)

In [24]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '23', 34}

In [25]:
# remove / discard element - both removes the element while discard does not raises error and remove raises error
set1.discard(0)

In [26]:
set1.discard(8)

In [27]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 9, 10, '23', 34}

In [28]:
set1.remove(0) # raises error

KeyError: 0

In [29]:
set1.remove(9)

In [30]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 10, '23', 34}

In [32]:
# pop - it is used to remove last element but we did not know which elemnt is deleted but can access assign variable to it
print(set1.pop())
print(set1)

2
{3, 4, 5, 6, 7, 10, '23', 34}

In [33]:
print(set2)

{1, 2, 3, 4, 5}

In [34]:
del set2 # delete entire set

In [36]:
print(set2)

NameError: name 'set2' is not defined

set1.clear() # clear the values inside set
print(set1)

In [38]:
# Member ship operator to check value is present in set or not
"Hello" in set1

False

# Dictonaries in python

dictonary is ordered collection of data and multiple datas are stored in single variable

In [31]:
studentData={
    "name":"ThiruMurugan",
    "email":"727722eucs191@skcet.ac.in",
    "age":21,
    "gender":"Male"
}
print(studentData)

{'name': 'ThiruMurugan', 'email': '727722eucs191@skcet.ac.in', 'age': 21, 'gender': 'Male'}

In [32]:
print(studentData['name']) # we can access by keys

ThiruMurugan

{
    "key":"value"
}
1) to print keys dict.keys() is used
2) to print values dict.values() is used

In [33]:
# print keys of dictonary by dict.keys() method
print(studentData.keys())

dict_keys(['name', 'email', 'age', 'gender'])

In [34]:
# print values of dictionary by dict.values() method
print(studentData.values())

dict_values(['ThiruMurugan', '727722eucs191@skcet.ac.in', 21, 'Male'])

In [35]:
# Access dict by for loop
for key in studentData.keys():
    print(f"The value corresponding to {key} is {studentData[key]}")

The value corresponding to name is ThiruMurugan
The value corresponding to email is 727722eucs191@skcet.ac.in
The value corresponding to age is 21
The value corresponding to gender is Male

In [36]:
# Access dict by for loop with help of items()method
for key,value in studentData.items():
    print(f"The key is {key} and corresponding value is {value}")

The key is name and corresponding value is ThiruMurugan
The key is email and corresponding value is 727722eucs191@skcet.ac.in
The key is age and corresponding value is 21
The key is gender and corresponding value is Male

In [37]:
print(studentData.items())

dict_items([('name', 'ThiruMurugan'), ('email', '727722eucs191@skcet.ac.in'), ('age', 21), ('gender', 'Male')])

In [38]:
# update is method accepts key:value pair if key exists it updates values else create a new key-value pair
print(studentData)
studentData.update({"age":18})
studentData.update({"Dob":"16/7/2005"})
print(studentData)

{'name': 'ThiruMurugan', 'email': '727722eucs191@skcet.ac.in', 'age': 21, 'gender': 'Male'}
{'name': 'ThiruMurugan', 'email': '727722eucs191@skcet.ac.in', 'age': 18, 'gender': 'Male', 'Dob': '16/7/2005'}

In [39]:
# remove th eparticular value by key =.pop(key) is used
studentData.pop("name")
print(studentData)

{'email': '727722eucs191@skcet.ac.in', 'age': 18, 'gender': 'Male', 'Dob': '16/7/2005'}

In [40]:
# remove the last key:value pair popitem() method is used
studentData.popitem()

('Dob', '16/7/2005')

In [41]:
print(studentData)

{'email': '727722eucs191@skcet.ac.in', 'age': 18, 'gender': 'Male'}

In [42]:
s={
    123:"Subash",
    124:"Sriram"
}
s.clear() # it clear all the values inside the dict

In [43]:
print(s)

{}

In [44]:
del studentData["email"] # del method deletes the particular value by key in dictonary

In [45]:
print(studentData)

{'age': 18, 'gender': 'Male'}

In [46]:
del studentData # if key not provided delete the entire dict

In [47]:
print(studentData)

NameError: name 'studentData' is not defined