Hello World is the first program we always learn in programming languages 
python in order to print something to console print() function is used

In [2]:
print("Hello World")

Hello World

print() function has attributes like end,sep while end describes about how two print statments should end with but default newnline \n character , sep is used to give
seperate within print() function statement while default is " "

In [2]:
print("Hello World");

Hello World

In [3]:
print("Hi Ramesh i am here ",end = "/");
print("The girl is in your person i think","Probably it is misunderstanding",sep="?");

Hi Ramesh i am here /The girl is in your person i think?Probably it is misunderstanding

In [5]:
print("'Hello' World");

'Hello' World

In [6]:
print("\"Hello World\"");# Escape Sequences

"Hello World"

In [8]:
print("""Hello World I am president 
      from now on you are going to be my peoples """); # printing multiple lines

Hello World I am president
      from now on you are going to be my peoples

In [10]:
print('''Hello World is program 
      in you like ''');

Hello World is program
      in you like

variables are containers of data that variable holds 
data types 
1) integer
2) float
3) complex
4) boolean
5) string
6) none
7) list
8) tuple
9) set
10) dictionary

In [11]:
# type() function 0 tells the data type of variable
a = 21
print(type(a))
b = 22.33
print(type(b))
c = 3+4j
print(type(c))
d = False
e = True
print(type(d),type(e))
f = None
print(type(f))
g = [1,2,3]
print(type(g))
h = (1,2,3)
print(type(h))
i = {
    "name":"Thiru",
    "age":21,
    "gender":"Male",
    "address":"Theni"
}
print(type(i));

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'> <class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [12]:
print(type("T"))

<class 'str'>

In [14]:
g = set();
print(type(g))

<class 'set'>

Operators
Operators are used to perform operations
1) Aritemetic Operators
2) Logical Operators
3) Relational Operators
4) Bitwise Operators
5) Assignment Operators

In [15]:
# operators 
# Arithemetic Operators
x = 21 
y = 23
print(x+y); #ADD
print(x-y); # SUBRACT
print(x/y); # FLOAT DIVISION
print(x%y); # MODULUS TO FIND REMAINDER

44
-2
0.9130434782608695
21

In [16]:
print(x*y); # MULTIPLY
print(x//y); # INTEGER DIVISION
z1 = 3
z2 = 2
print(z2**z1); # POWER OPERATOR

483
0
8

In [1]:
# CONCATENATION OPERATOR and Multiply for Strings
print("Hello"+"World");
# Multiplying operator
print("\" Hello\"\""*3,"World"*4,sep="/");

HelloWorld
" Hello""" Hello""" Hello""/WorldWorldWorldWorld

In [3]:
a = 20
b=30
print(b)
b+=a # Assignment operator
print(b)

30
50

In [4]:
# Logical operators
age = 20
print(age > 18) # greater than
print(age < 18) # lesser than
print(age<=18) # greater than or equal to
print(age>=18) # lesser than or equal to

True
False
False
True

In [6]:
print(age == 20) # equal to
print(age!=20) # not equal to

True
False

In [7]:
# Relational operators
print(age >18 and age<=20) # and operator

True

In [8]:
print(age<0 and age>=20)

False

In [9]:
print(age<0 or age>=20) # or operator

True

In [12]:
print(not age !=20) # NOT operator

True

In [15]:
# bitwise operator
a = 20
print(a>>1) # right shift
print(a<<1) # left shift

10
40

In [16]:
if (a & 1 == 0): 
    print("even");
else:
    print("odd");

even

In [17]:
help("keywords"); # help keywords is to explain the python documentation

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

We are learn getting input from user
when we take input from user input() function we will return as always string

Now Type cast to integer ,string ,float

In [18]:
# input() function to take inputs
b = input("Enter Your Username :");
c = input("Enter your Password : ");
print(b+c);
print("Everything is opened")

ThiruMuruganHello
Everything is opened

In [19]:
a = int(input("Get a Number1 : "))
b = int(input("Get a Number2 : "))
print(a+b);

25

In [20]:
a = float(input("Get a float1 :"))
b= float(input("Get a float2 : "))
print(a-b)

-22.110000000000003

In [21]:
a= 23
print(type(a))

<class 'int'>

In [24]:
a = str(a)
print(type(a))

<class 'str'>

Change boolean ,string,list,tuple,set

In [34]:
a= True
print(a)
a = str(a)
print(type(a))
b = "False";
b=bool(b)
print(type(b))

True
<class 'str'>
<class 'bool'>

In [33]:
list = [1,2,3]
print(type(list))
list = tuple(list)
print(type(list))
list = set(list)
print(type(list))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [52]:
print(ord("A"))
print(chr(65))

65
A

In [53]:
help("print")

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

1) is operator checks whether operands located to same value or same memory location
2) in operator checks whether first operand is present in another operand

In [1]:
a= 20
b = 20
a is b

True

In [64]:
"Thiru" in "ThiruMurugan"

True

1) ord() is uses to encode characters to chracter
2) chr() is used to decode back to characters

In [2]:
ord("A")
chr(128516)

'😄'

1) Conditional Statements are used to control the statements
2) We used some conditions as people as like that
3) if statement elif else statement

In [9]:
age = int(input("Enter The Age of Person : "))
if age <21 and age>=18:
    print("You can permit to vote only")
elif age >=18:
    print("You can permit to vote and marry ")
else:
    print("You are Minor!")

You can permit to vote only

Match case statements
1) Like C++ Match case statements are like switch statements with one variable comparing with diiferent values

In [2]:
num = int(input("Enter a Month :"))
match num:
    case 1:
        print("January")
    case 2:
        print("Feburuary")
    case 3:
        print("March")
    case 4:
        print("April")
    case 5:
        print("May")
    case 6:
        print("June")
    case 7:
        print("July")
    case 8:
        print("August")
    case 9:
        print("September")
    case 10:
        print("October")
    case 11:
        print("November")
    case 12:
        print("December")
    case _: # default
        print("Invalid Input")

Invalid Input

In [2]:
# Looping statements
range(0,12);

print(range(0,12))

range(0, 12)

In [3]:
for i in range(0,12): # 0 to n-1
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [4]:
for i in range(0,12,2): # jump is 2
    print(i)

0
2
4
6
8
10

In [5]:
for i in range(10,0,-1): # iterating from backwards negative jump
    print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [9]:
# traingle pattern
n = int(input())
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *

In [26]:
for i in range(0,n):
    for j in range(0,n-i):
        print("  ",end="")
    for k in range(0,i+1):
        print("*",end=" ")
    print()

                        *
                      * *
                    * * *
                  * * * *
                * * * * *
              * * * * * *
            * * * * * * *
          * * * * * * * *
        * * * * * * * * *
      * * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * *

In [25]:
for i in range(1,n+1):
    for j in range(0,n-i):
        print("  ",end="")
    for k in range(0,2*(i-1)+1):
        print("*",end=" ")
    print()

                      *
                    * * *
                  * * * * *
                * * * * * * *
              * * * * * * * * *
            * * * * * * * * * * *
          * * * * * * * * * * * * *
        * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *

In [24]:
for i in range(n+1,0,-1):
    for j in range(0,n-i+1):
        print("  ",end="")
    for k in range(0,2*(i-1)+1):
        print("*",end=" ")
    print()

* * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * *
            * * * * * * * * * * * * *
              * * * * * * * * * * *
                * * * * * * * * *
                  * * * * * * *
                    * * * * *
                      * * *
                        *

In [31]:
for i in range(1,n+1):
    for j in range(0,n-i):
        print("  ",end="")
    for k in range(0,2*(i-1)+1):
        print("*",end=" ")
    print()
for i in range(n+1,0,-1):
    for j in range(0,n-i+1):
        print("  ",end="")
    for k in range(0,2*(i-1)+1):
        print("*",end=" ")
    print()

                      *
                    * * *
                  * * * * *
                * * * * * * *
              * * * * * * * * *
            * * * * * * * * * * *
          * * * * * * * * * * * * *
        * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * *
            * * * * * * * * * * * * *
              * * * * * * * * * * *
                * * * * * * * * *
                  * * * * * * *
                    * * * * *
                      * * *
                        *

In [35]:
for i in range(0,n-1):
    for j in range(0,i+1):
        print("*",end=" ")
    print()
for i in range(n,0,-1):
    for j in range(0,i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
n= int(input())
start =0
for i in range(0,n):
    if i % 2 == 0:
        start =1
    else:
        start = 0
    for i in range(0,i+1):
        print(start,end=" ")
        start = 1-start
    print()

1
0 1
1 0 1
0 1 0 1

In [46]:
# prime numbers
import math as m;
n1=int(input())
n2=int(input())
for i in range(n1,n2+1):
    if i <=1:
        continue
    if i == 2:
        print(i)
        continue
    isPrime = True
    for j in range(2,int(m.sqrt(i))+1):
        if i % j ==0:
            isPrime = False
            break;
    if isPrime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [91]:
m.ceil(12.01)
print(m.floor(13.9))
print(m.e)
print(m.isfinite(12))
m.isqrt(9)
print(m.trunc(12.592))

13
2.718281828459045
True
12

In [92]:
def add(a,b):
    print(a+b)
add(1,2)

3

In [93]:
def add1(b,a=2):
    print(a,b)
add1(1)

2 1

In [94]:
name = "It is rainy outside i cannot leave my house"
print(name.title())
print(name.lower())
print(name.upper())

It Is Rainy Outside I Cannot Leave My House
it is rainy outside i cannot leave my house
IT IS RAINY OUTSIDE I CANNOT LEAVE MY HOUSE

In [97]:
x,y,z = "Thiru",1,2
print(x,y,z,sep="\n")

Thiru
1
2

# List Data Type

In [99]:
persons=["subash","sylender","sujan","sanjay"]
print(f"Hello {persons[0]} You are welcomed to join the party organised by {persons[1]} but {persons[2]} and {persons[3]} is here")

Hello subash You are welcomed to join the party organised by sylender but sujan and sanjay is here

In [100]:
# inserts at specific position
persons.insert(0,"tejaswin")
print(persons)

['tejaswin', 'subash', 'sylender', 'sujan', 'sanjay']

In [101]:
persons.insert(2,"king")

In [102]:
print(persons)

['tejaswin', 'subash', 'king', 'sylender', 'sujan', 'sanjay']

In [103]:
# appends at end of list
persons.append("SanjayMask")

In [104]:
print(persons)

['tejaswin', 'subash', 'king', 'sylender', 'sujan', 'sanjay', 'SanjayMask']

In [105]:
persons[0]="Tejaswin" # modifying this list

In [106]:
print(persons)

['Tejaswin', 'subash', 'king', 'sylender', 'sujan', 'sanjay', 'SanjayMask']

In [107]:
del persons[0] # delete the particular
print(persons)

['subash', 'king', 'sylender', 'sujan', 'sanjay', 'SanjayMask']

In [108]:
persons.pop() #pops the last element by default
print(persons)

['subash', 'king', 'sylender', 'sujan', 'sanjay']

In [109]:
persons.pop(1) # pops specifiesd element and returns popped element

'king'

In [110]:
persons.remove("subash") # remove from list by value
print(persons)

['sylender', 'sujan', 'sanjay']

In [114]:
print(sorted(persons)) # temporaryly view the sorted list
print(persons)

['sanjay', 'sujan', 'sylender']
['sylender', 'sujan', 'sanjay']

In [115]:
persons.sort() # sort the list
print(persons)

['sanjay', 'sujan', 'sylender']

In [116]:
persons.reverse() # reverse the list
print(persons)

['sylender', 'sujan', 'sanjay']

In [118]:
print(len(persons))

3

In [119]:
for person in persons:
    print(f"We invite the {person} to the party")
print("Thank You for your arrival!")

We invite the sylender to the party
We invite the sujan to the party
We invite the sanjay to the party
Thank You for your arrival!

In [121]:

for i in range(0,12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [123]:
even_number = list(range(0,11,2))
print(even_number)

[0, 2, 4, 6, 8, 10]

In [124]:
square_numbers=[]
for value in range(0,11):
    squares = value**2
    square_numbers.append(squares)
print(square_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [125]:
min(square_numbers) # minimum

0

In [126]:
max(square_numbers) # maximum

100

In [127]:
sum(square_numbers) # sum

385

In [128]:
abs(-12) # absolute

12

In [6]:
ascii('a')

"'a'"

In [130]:
ascii(97)

'97'

In [7]:
eval("9+2") # EVALUATE STRINGS

11

In [142]:
even_numbers=[value*2 for value in range(0,4)]

In [143]:
print(even_numbers)

[0, 2, 4, 6]

In [144]:
print(i)

11

In [148]:
cube_numbers = [value**3 for value in range(0,11)]

In [149]:
print(cube_numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [150]:
list[1:3]

list[slice(1, 3, None)]

In [152]:
cube_numbers[1:3]

[1, 8]

In [153]:
cube_numbers[-1]

1000

In [154]:
cube_numbers[:5]

[0, 1, 8, 27, 64]

In [155]:
cube_numbers[2:]

[8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [164]:
cube_numbers[-len(cube_numbers):]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [166]:
cube_numbers[len(cube_numbers)::-1]

[1000, 729, 512, 343, 216, 125, 64, 27, 8, 1, 0]

In [173]:
cube_numbers[-1::-1]

[1000, 729, 512, 343, 216, 125, 64, 27, 8, 1, 0]

In [174]:
persons = ("subash","sriram","rokithran","sylender")
print(type(persons))

<class 'tuple'>

In [175]:
persons.count("subash") # count the occurence of value in tuple

1

index of occurence of value in tuple .  if there is no value raise an value error

In [178]:
persons.index("sriram")

1

In [179]:
persons.index("p")

ValueError: tuple.index(x): x not in tuple

In [181]:
# copying the list
cars=["Mercedes","Tesla","RolceRoyce","Ford"]
cars1=cars;
print(cars)

['Mercedes', 'Tesla', 'RolceRoyce', 'Ford']

In [182]:
print(cars1)

['Mercedes', 'Tesla', 'RolceRoyce', 'Ford']

Here i reversed car but both list and copied list are modified

In [184]:
cars.reverse()

In [185]:
print(cars1)

['Ford', 'RolceRoyce', 'Tesla', 'Mercedes']

first it is copy of both  variables are pointed tolist but if we used the slicng to copy 
the list then changes won't reflected in another list

In [189]:
cars2=cars[:]
print(cars2)

['Mercedes', 'Tesla', 'RolceRoyce', 'Ford']

In [190]:
cars.reverse()

In [191]:
print(cars)
print(cars1)
print(cars2)

['Ford', 'RolceRoyce', 'Tesla', 'Mercedes']
['Ford', 'RolceRoyce', 'Tesla', 'Mercedes']
['Mercedes', 'Tesla', 'RolceRoyce', 'Ford']

In [192]:
print(persons)

('subash', 'sriram', 'rokithran', 'sylender')

In [193]:
persons[0]="P'"# tuple doesn't support item assignment

TypeError: 'tuple' object does not support item assignment

In [194]:
print(persons[0])

subash

In [195]:
for person in persons:
    print(person)

subash
sriram
rokithran
sylender

In [206]:
round(45.98,1)

46.0

In [210]:
pip install diagram

Requirement already satisfied: diagram in d:\program files\python312\lib\site-packages (0.2.28)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: d:\Program Files\Python312\python.exe -m pip install --upgrade pip

In [223]:
fruits=("oranges",)
print(type(fruits))
fruits=("apple","orange","banana","watermelon")
print(len(fruits))

<class 'tuple'>
4

In [226]:
print(type(reversed(fruits)))
print(tuple(reversed(fruits)))
print(sorted(fruits)) # it returns list

<class 'reversed'>
('watermelon', 'banana', 'orange', 'apple')
['apple', 'banana', 'orange', 'watermelon']

In [227]:
fruits[1:3]

('orange', 'banana')

In [228]:
fruits[0:]

('apple', 'orange', 'banana', 'watermelon')

In [229]:
fruits[:5]

('apple', 'orange', 'banana', 'watermelon')

In [230]:
fruits[::-1]

('watermelon', 'banana', 'orange', 'apple')

In [231]:
fruits[-1::-1]

('watermelon', 'banana', 'orange', 'apple')

In [232]:
d = {}
d[1, 2] = 3
d[3, 4] = 7

In [233]:
print(d)

{(1, 2): 3, (3, 4): 7}

In [234]:
print(type(d))

<class 'dict'>

In [237]:
math??

Type:        module
String form: <module 'math' (built-in)>
Docstring:
This module provides access to the mathematical functions
defined by the C standard.

In [2]:
import math as m
def power(a=10,b=2):
    print(m.pow(a,b))
    print(a**b)
power()

100.0
100

In [12]:
data = int(input())

def BinarySearch(*a):
    left = 0
    right = len(a)-1
    isFound = False
    for i in a:
        mid = (left+right)//2
        if a[mid] == data:
            isFound = True
            print(mid)
            break
        elif a[mid] < data:
            left=mid+1
        elif a[mid]>data:
            right=mid-1
    if not isFound:
        print(-1)
BinarySearch(1,2,3,4,5,6,7,8,9,10)

3

In [19]:
def func(**dict):
    for key,value in dict.items():
        print(key,'=',value)

In [20]:
func(name="ThiruMurugan", age=22)

name = ThiruMurugan
age = 22

In [21]:
import time as t
print(t.strftime("%D"))

06/26/24

In [24]:
print(t.strftime("%d"))

26

In [31]:
print(t.strftime("%d-%m-%Y"))

26-06-2024

In [33]:
print(t.strftime("%H:%M:%S"))

21:00:24

In [35]:
print(t.strftime("%h"))

Jun

In [1]:
print("Hello")

Hello

In [6]:
# recap of lists
# iterating and printing
actors=["vijay","rajini","ajith","kamal","surya"]
print(actors)
for actor in actors:
    print(f"{actor} is acting in Movie Today")
print("actors are successfully completed thier job")

['vijay', 'rajini', 'ajith', 'kamal', 'surya']
vijay is acting in Movie Today
rajini is acting in Movie Today
ajith is acting in Movie Today
kamal is acting in Movie Today
surya is acting in Movie Today
actors are successfully completed thier job

In [7]:
print(type(actors))

<class 'list'>

In [8]:
actors.append("modi") # add to last the list
print(actors)
actors.insert(3,"raja") # insert at any index position in list
print(actors)
removedActors = actors.pop() # remove the last element in list
print(removedActors)
print(actors)

['vijay', 'rajini', 'ajith', 'kamal', 'surya', 'modi']
['vijay', 'rajini', 'ajith', 'raja', 'kamal', 'surya', 'modi']
modi
['vijay', 'rajini', 'ajith', 'raja', 'kamal', 'surya']

In [9]:
removedActors = actors.pop(3) # pops the element at index position i
print(removedActors)
print(actors)
removedActors =actors.remove("ajith") # it doesnot return anything
print(removedActors)
print(actors)
print(sorted(actors)) # sorted temporarily and print

raja
['vijay', 'rajini', 'ajith', 'kamal', 'surya']
None
['vijay', 'rajini', 'kamal', 'surya']
['kamal', 'rajini', 'surya', 'vijay']

In [10]:
actors.sort() # sort the permananetly
print(actors)
actors.reverse() # reverse the list
print(actors)

['kamal', 'rajini', 'surya', 'vijay']
['vijay', 'surya', 'rajini', 'kamal']

In [11]:
actors.index("surya") # return the index of particular value if not raises value error

1

In [32]:
actors.count("surya");
actors1 = ["horse","cat","dog"]
actors.extend(actors1) # you can extend the list
print(actors)

['vijay', 'surya', 'rajini', 'kamal', 'horse', 'cat', 'dog']

In [33]:
print(actors)

['vijay', 'surya', 'rajini', 'kamal', 'horse', 'cat', 'dog']

In [35]:
actorNames =actors.copy() # id was diiferent don't affect
print(actorNames)

['vijay', 'surya', 'rajini', 'kamal', 'horse', 'cat', 'dog']

In [36]:
actorNames is actors

False

In [37]:
ActorNames = actors # direct copy 
print(ActorNames)

['vijay', 'surya', 'rajini', 'kamal', 'horse', 'cat', 'dog']

In [38]:
ActorNames is actors # id was same

True

In [39]:
ActorNames.pop() # so it affects one another

'dog'

In [40]:
print(actors)

['vijay', 'surya', 'rajini', 'kamal', 'horse', 'cat']

In [42]:
actors.clear() # clear the data inside list
print(actors)

[]

In [45]:
# tuple revision
realActors = ("subash","sriram","sujan","sylender","sandeep")
for realActor in realActors:
    print(realActor)

subash
sriram
sujan
sylender
sandeep

In [48]:
print(realActors.count("subash"))
print(realActors.index("sandeep"))

1
4

In [49]:
# recap
print("Hello World!")

Hello World!

In [54]:
print("*"*1)
print("*"*2)
print("*"*3)

*
**
***

In [64]:
# Number guessing game and random module
import random as rd
count = 0
guesses = False
Secretnumber = rd.randrange(1,10)
while not guesses:
    guess = int(input("Enter a Number : "))
    if guess == Secretnumber:
        print("Congrulations! You have guessed the number!")
        break
    elif guess > Secretnumber:
        print("Your guess is too high")
    elif guess < Secretnumber:
        print("Your guess is too low")
    else:
        print("Please try again later")
    count+=1
    if count == 5:
        print("You have run out of guesses")
        print(f"Secret Number was {Secretnumber}")
        guesses = True

Your guess is too high
Your guess is too low
Congrulations! You have guessed the number!

In [65]:
 command = ""
 isStarted = False
 isStopped = False
 while command.lower()!="quit":
     command = input(">")
     if command.lower()=="start":
         if isStarted:
             print("Lorry already started")
         else:
            print("Lorry starts now")
            isStarted = True
     elif command.lower()=="stop":
         if isStopped :
            print("Lorry already stopped")
         else:
            print("Lorry stops")
            isStopped = True
     elif command.lower()=="kill":
         print("Kill the person using lorry")
     elif command.lower()=="police":
         print("Run away from police")
     elif command.lower()=="help":
         print("Help the queue")
     elif command.lower()=="surrender":
         print("Surrender to the police")
 else:
    print("Lorry functionality quitted")

Lorry starts now
Lorry already started
Kill the person using lorry
Help the queue
Surrender to the police
Kill the person using lorry
Lorry stops
Lorry already stopped
Lorry functionality quitted

In [67]:
# sets
actors = set(ActorNames)
print(type(actors))

<class 'set'>

In [68]:
actors.add("proSubash") #
print(actors)

{'proSubash'}

In [69]:
def addActors(*actor):
    for person in actor:
        actors.add(person)
addActors("Sylender","Sandeep","Sujan","Rokithran","Sriram")

In [70]:
print(actors)

{'Sriram', 'Sujan', 'proSubash', 'Rokithran', 'Sandeep', 'Sylender'}

In [71]:
actors.add("pro")

In [72]:
print(actors)

{'Sriram', 'Sujan', 'proSubash', 'Rokithran', 'pro', 'Sandeep', 'Sylender'}

In [73]:
king=["p"]
print(king)

['p']

In [76]:
king.append("pro")
print(list(reversed(king)))

['pro', 'pro', 'p']

In [77]:
print(king)

['p', 'pro', 'pro']

In [78]:
print(sorted(king))

['p', 'pro', 'pro']

In [81]:
king.insert(0,"zoker")

In [83]:
print(king)
print(sorted(king))
print(king)

['zoker', 'joker', 'p', 'pro', 'pro']
['joker', 'p', 'pro', 'pro', 'zoker']
['zoker', 'joker', 'p', 'pro', 'pro']

In [84]:
actors.pop()

'Sriram'

In [85]:
print(actors)

{'Sujan', 'proSubash', 'Rokithran', 'pro', 'Sandeep', 'Sylender'}

In [86]:
actors.pop()

'Sujan'

In [88]:
gh =["Sujan","Sriram","Rokithran","king"]
actors2 = set(gh)

In [89]:
print(actors)
print(actors2)
newActors = actors.union(actors2) # union of two sets
print(newActors)

{'proSubash', 'Rokithran', 'pro', 'Sandeep', 'Sylender'}
{'Sriram', 'Rokithran', 'king', 'Sujan'}
{'Sriram', 'Sujan', 'proSubash', 'pro', 'Rokithran', 'king', 'Sandeep', 'Sylender'}

In [90]:
newActors= actors.intersection(actors2)
print(newActors)

{'Rokithran'}

In [91]:
newActors = actors.difference(actors2)
print(newActors)

{'proSubash', 'pro', 'Sandeep', 'Sylender'}

In [92]:
actors.update(actors2)
print(actors)

{'Sriram', 'Sujan', 'proSubash', 'Rokithran', 'pro', 'king', 'Sandeep', 'Sylender'}

In [93]:
print(actors2)

{'Sriram', 'Rokithran', 'king', 'Sujan'}

In [94]:
friends = {"Rokithran","zexan","vinay"}
print(friends)
actors.intersection_update(friends)
print(actors)

{'Rokithran', 'vinay', 'zexan'}
{'Rokithran'}

In [95]:
friends.difference_update(actors2)
print(friends)

{'vinay', 'zexan'}

In [96]:
friends.clear()
print(friends)

set()

In [107]:
friends = {"Rokithran","Sriram",1,2,3}
print(friends)
friends.pop()

{'Sriram', 1, 2, 3, 'Rokithran'}

'Sriram'

In [99]:
print(friends)

{1, 2, 3, 'Rokithran'}

In [100]:
friends.remove(1)

In [101]:
print(friends)

{2, 3, 'Rokithran'}

In [102]:
friends.discard(2)
print(friends)

{3, 'Rokithran'}

In [103]:
friends.isdisjoint(actors) # both sets have null intersection or not

False

In [104]:
print(actors)

{'Rokithran'}

In [106]:
actors={2}
actors.isdisjoint(friends)

True

In [109]:
actors = {"Rokithran"}
actors.issubset(friends)

True

In [111]:
friends.issuperset(actors)

True

In [112]:
print(friends)

{1, 2, 3, 'Rokithran'}

In [113]:
animals1 = {"Dogs","Cats","Horse","Lion","Elephant"}
animals2={"Dogs","Monkeys","Lion"}
animals1.symmetric_difference(animals2)

{'Cats', 'Elephant', 'Horse', 'Monkeys'}

In [114]:
animals2.symmetric_difference_update(animals1)

In [115]:
print(animals2)

{'Cats', 'Monkeys', 'Elephant', 'Horse'}

In [116]:
# Dictionary it is like key-value pairs
students={
    "name":"ThiruMurugan",
    "age":18,
    "gender":"Male"
}
print(students)

{'name': 'ThiruMurugan', 'age': 18, 'gender': 'Male'}

In [117]:
print(type(students))

<class 'dict'>

In [118]:
for key,value in students.items(): # to get keys and value
    print(f"{key}={value}")

name=ThiruMurugan
age=18
gender=Male

In [119]:
for key in students.keys():
    print(key)

name
age
gender

In [120]:
for value in students.values():
    print(value)

ThiruMurugan
18
Male

In [121]:
students.keys()

dict_keys(['name', 'age', 'gender'])

In [122]:
students.values()

dict_values(['ThiruMurugan', 18, 'Male'])

None

In [1]:
# Dictionary data type
marks={
    "Tamil":93,
    "English":55,
    "Maths":66,
    "Science":78,
}
print(marks)

{'Tamil': 93, 'English': 55, 'Maths': 66, 'Science': 78}

In [2]:
print(type(marks))

<class 'dict'>

In [3]:
print(marks.keys()) # to get keys

dict_keys(['Tamil', 'English', 'Maths', 'Science'])

In [4]:
marks["Social Science"]=85

In [5]:
print(marks)

{'Tamil': 93, 'English': 55, 'Maths': 66, 'Science': 78, 'Social Science': 85}

In [6]:
print(marks.values())

dict_values([93, 55, 66, 78, 85])

In [7]:
for subject in marks.keys():
    print(f"Student has {subject} during this year")

Student has Tamil during this year
Student has English during this year
Student has Maths during this year
Student has Science during this year
Student has Social Science during this year

In [8]:
for mark in marks.values():
    print(f"Student has got {mark} in this year")

Student has got 93 in this year
Student has got 55 in this year
Student has got 66 in this year
Student has got 78 in this year
Student has got 85 in this year

In [79]:
# to get key and value simulataneously
for subject,mark in marks.items():
    print(f"Student has got {mark} in {subject} in this year")
else:
    print("No more marks")

Student has got 93 in Tamil in this year
Student has got 55 in English in this year
Student has got 78 in Science in this year
Student has got 85 in Social Science in this year
Student has got 99 in Maths in this year
Student has got 99 in Physics in this year
No more marks

In [16]:

print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85}

In [19]:
marks["Maths"]=85
marks["Maths"]=66
print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85, 'Maths': 66}

In [20]:
marks.popitem()

('Maths', 66)

In [21]:
print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85}

In [22]:
marks1=marks.copy()

In [23]:
print(marks1)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85}

In [24]:
marks1.clear()

In [25]:
print(marks1)

{}

In [50]:
marks1 =marks.fromkeys(marks.keys(),90)

In [51]:
print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85}

In [52]:
print(marks1)

{'Tamil': 90, 'English': 90, 'Science': 90, 'Social Science': 90}

In [56]:
print(marks.get("Science")) # get the value by key

78

In [71]:
marks.setdefault("Maths",99)

99

In [72]:
print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85, 'Maths': 99}

In [73]:
marks.setdefault("Physics",96) # set the key and value default if it is not present in dictionary

96

In [74]:
print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85, 'Maths': 99, 'Physics': 96}

In [77]:
marks.update({"Physics":99})

In [78]:
print(marks)

{'Tamil': 93, 'English': 55, 'Science': 78, 'Social Science': 85, 'Maths': 99, 'Physics': 99}

In [2]:
  records=[]
  for i in range(int(input())):
        name = input()
        score = float(input())
        records.append([name,score])

 2
 subash
 12.00
 joker
 13.00

In [3]:
records.sort??

Signature: records.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

In [10]:
records.sort(key=records[0])

TypeError: 'list' object is not callable

In [9]:
print(records)
records[0][1]

[['joker', 13.0], ['subash', 12.0]]

13.0


# Exception Handling

In [11]:
number = int(input("Enter a number"))
try:
    number = number//0
    print(number)
except ZeroDivisionError:
    print(help("ZeroDivisionError"))

Enter a number 12

Help on class ZeroDivisionError in module builtins:

class ZeroDivisionError(ArithmeticError)
 |  Second argument to a division or modulo operation was zero.
 |
 |  Method resolution order:
 |      ZeroDivisionError
 |      ArithmeticError
 |      Exception
 |      BaseException
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  add_note(...)
 |      Exception.add_note(note) --
 |      add a note to the exception
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

None

In [17]:
try:
    h = h > 20
    if(h== 20):
        print(h
except ValueError:
    print("ValueError")
except NameError:
    print("NameError")

False

In [25]:
try:
    print("something")
    if num == 20:
        print(num)
except Exception:
    print("Error")
    
finally:
    print("Resolve Error if found")

something
Error
Resolve Error if found

In [9]:
a = int(input("Enter a number : "))
if a <= 0:
    raise ValueError("Number cannot be negative")

ValueError: Number cannot be negative